/* @import-normalize; */
@import './displayBox.css';
@import './quoteTextBox.css';
@import './button.css';
@import './quoteTypeSelector.css';
@import './toggleSwitch.css';
@import './customBranding.css';
@import './brandTextBox.css';
@import './footer.css';

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Courgette&family=Covered+By+Your+Grace&family=Dancing+Script&family=Indie+Flower&family=Kalam:wght@300;400&family=Noto+Serif&family=Oswald:wght@300;400&family=Permanent+Marker&family=Rowdies:wght@300;400&family=Shadows+Into+Light&family=Sofia+Sans:wght@300;400&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
    /* text-align: center; */
}

.header {
	display: flex;
	justify-content: space-between;
    font-family: 'Inter';
	padding: 20px 20px;
	border-bottom: 1px solid #15141426;
	margin-bottom: 25px;
}

.header__text-wrapper {
	display: flex;
	flex-direction:column;
	align-items: flex-start;
}

.header-siteName {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;

	margin-bottom: 5px;
}

.header--text-divider {
	font-size: 30px;
	font-weight: 400;
	display: none;
}

.header-siteDescription {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
	align-self: center;
}

.header__contact-btn {
	text-decoration: none;
	color: #FFF;
	background-color: #000;
	padding: 13px 20px;
	border-radius: 10px;
	gap: 10px;
	/*Dont display on mobile viewports */
	display: none;
}

.main {
	display: flex;
	justify-content: center;
}

.quote-display-and-toolbar-outer-wrapper {
	display: flex;
	flex-direction: column
}

.toolbars-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	margin: 20px 0px;
	gap: 20px;
}

.toolbar-list {
	padding-left: 15px;
	font-family: 'Inter';
	color: #808080;
	font-size: 16px;
}

.toolbar-list-item {
	padding-bottom: 10px;
}

/* .radio-btn-div--social,
.radio-btn-div--brand-position {
	margin-top: 10px;
} */

.branding-border-btn-div {
	margin-top: 15px;
	border: 1px solid #808080;
}


/* Media Queries for viewports wider that 768px */
@media screen and (min-width: 768px) {

	.header__contact-btn {
		/*Display on mobile viewports */
		display: block;
	}

	.header__text-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.header-siteDescription {
		font-size: 16px;
	}

	.header--text-divider {
		display: block;
		padding: 0px 10px;
	}

	.quote-display-and-toolbar-outer-wrapper {
		flex-direction: row;
		flex-direction: row-reverse;
		margin-top: 25px;
		gap: 80px; /* use media quiries to increase gap at larger screen widths */
	}

	.toolbars-wrapper {
		margin: unset;
		align-items: center;
		max-width: 350px;
	}
}