/* @import-normalize; */
@import './displayBox.css';
@import './quoteTextBox.css';
@import './button.css';
@import './titleBanner.css';
@import './quoteTypeSelector.css';
@import './toggleSwitch.css';
@import './customBranding.css';

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Courgette&family=Covered+By+Your+Grace&family=Dancing+Script&family=Indie+Flower&family=Kalam:wght@300;400&family=Noto+Serif&family=Oswald:wght@300;400&family=Permanent+Marker&family=Rowdies:wght@300;400&family=Shadows+Into+Light&family=Sofia+Sans:wght@300;400&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: yellow;
	font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.testing-title-text{
	margin-bottom: 0px;
	text-decoration: underline;
}

.toolbars-wrapper {
	width: 100%;
	padding-left: 10px;
}