/* @import-normalize; */
@import './displayBox.css';
@import './quoteTextBox.css';
@import './button.css';
@import './titleBanner.css';
@import './quoteTypeSelector.css';
@import './toggleSwitch.css';
@import './customBranding.css';

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Courgette&family=Covered+By+Your+Grace&family=Dancing+Script&family=Indie+Flower&family=Kalam:wght@300;400&family=Noto+Serif&family=Oswald:wght@300;400&family=Permanent+Marker&family=Rowdies:wght@300;400&family=Shadows+Into+Light&family=Sofia+Sans:wght@300;400&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: yellow;
	font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.main {
	display: flex;
	justify-content: center;
}

.quote-display-and-toolbar-outer-wrapper {
	display: flex;
	flex-direction: column
}

.toolbars-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	padding-top: 35px;
}

/* .titleBanner-wrapper {
	align-self: flex-start;
} */


/* Media Queries for viewports wider that 768px */
@media screen and (min-width: 768px) {

	.quote-display-and-toolbar-outer-wrapper {
		flex-direction: row;
		margin-top: 25px;
		gap: 80px; /* use media quiries to increase gap at larger screen widths */
	}

	.toolbars-wrapper {
		padding-top: 100px;
		max-width: 350px;
	}
}