.brandTextBox {
  margin-top: 10px;

  display: flex;
  justify-content: center; /* Allow this to be updated by user input to position branding, left / center / right  */
  align-items: center;
}

.inner-container {
  display: inline-block; /* Display as an inline block to allow to grow with dynamic text */
  padding: 5px 10px;
  /* Optional features to consider at a later date:  font-size, background-color, etc. */
}