.button-main {
  font-weight: bold;
  height: 50px;
  width: 100px;
  margin: 20px 10px 10px 10px;
  border-radius: 15px;
  background-color: #4749FE;
  color: #FFF;
  border: none;
  /* Consider adding border and interactivity later */
}

.customTextInput-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-row-gap: 12px;
  margin-top: 12px;
  margin-right: 6px;
}

.customInput-Label {
  font-weight: 600;
}
