.customBrandingToolbar,
.developerNotesToolbar,
.advancedStylingToolbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* min-width: 330px; */
    width: 360px;
    border: 1px solid #D8E0E0;
    border-radius: 8px;
    padding: 10px 15px;
}

.customTextInput-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.username-input-wrapper,
.custom-quote-input-wrapper {
    display: flex;
    flex-direction: column;
}

.text-input-label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.text-input {
    border: 1px solid #D8E0E0;
    border-radius: 8px;
    padding: 8px;
    margin-top: 6px;
}

.content {
    /* This is the margin given to elements that are only visable when toggle is on */
    margin: 18px 0;
}

.toolbar-dividing-line {
    width: 100%;
    /* color: black; */
    color: #D8E0E0;
    margin-bottom: 18px; /* Later maybe use margin top here and remove from .content */
}

.radio-btn-div {
    display: flex;
    flex-wrap: wrap;
    border: none;
}

.radio-btn-div legend {
    margin-bottom: 10px;
}

.radio-btn-div div {
    display: flex;
    margin-bottom: 7px;
}

.radio-btn-input {
    accent-color: green;
    /* Align with label & flex-wrap prop */
    width: 15px;
    height: 15px;
}

.branding-border-thickness-btn-div,
.branding-border-color-btn-div,
.branding-border-radius-btn-div {
    display: flex;
    flex-direction: row;
    border: none;
    margin-top: 5px;
    padding: 6px 10px 10px 15px;
}
