.displayBox {
  display: flex;
  align-items:center;
  justify-content:space-between;
  width: 90vw; /* Using vw to maintain 1:1 ratio */
  height: 90vw;
  max-width: 360px;
  max-height: 360px;
  margin: auto;
  margin-top: 30px;
  background-color: red;
  text-align: center;
}

.btb {
  position: relative;
  top: 190px;
  border: 1px solid orange;
}

.brandingplusicon {
  position: relative;
  margin-right: 4.5px;
  bottom: -4px;
}