.displayBox {
    display: flex;
    align-items:center;
    justify-content:space-between;
    /* width: 95%; */
    /* min-height: 270px; */
    width: 90vw;
    height: 90vw;
    margin: auto;
    margin-top: 30px;
    background-color: red;
  }

  .btb {
    position: relative;
    top: 190px;
    border: 1px solid orange;
  }

  .brandingplusicon {
    position: relative;
    margin-right: 4.5px;
    bottom: -4px;
  }