.displayBox {
  display: flex;
  align-items:center;
  justify-content:space-between;
  width: 90vw; /* Using vw to maintain 1:1 ratio */
  height: 90vw;
  max-width: 360px;
  max-height: 360px;
  margin-top: 30px;
  text-align: center;
}

.brandingplusicon {
  position: relative;
  margin-right: 4.5px;
  bottom: -2px;
}