.titleWrapper {
    display: flex;
    width: 100vw;
    border: 5px solid purple;
    border-radius: 7px;
    align-items: space-between;
    background-color:black;
    padding: 0px;
}

.qmkrLogo{
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    font-family: 'Permanent Marker';
}

.intro-text {
    width: 80vw;
    margin: auto;
}