.titleBanner-wrapper{
    color: rgb(155, 16, 176);
    padding: 10px 15px;
    text-align: left;
    font-family: 'Kalam';
    margin-bottom: 18px;
}

.qmkrLogo {
    font-family: 'Permanent Marker';
}
